{% extends 'base.html' %}
{% block title %} Ease Learning | Admin Panel {% endblock title %}

{% block body %}

<style>
    #admin_header{
        background-image: url("../static/assets/img/bg-dashboard.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>

<div class="container-fluid mb-2 p-4" id="admin_header">
    <div class="row mt-3">
        <div class="col-md-12 text-center">
            <h1 class="text-center text-white">Welcome <strong>{{ request.user.first_name }}</strong> to your dashboard</h1>
            <p class="text-center text-white">Some Posts by you are listed below</p>
            <div class="d-flex justify-content-center mb-2">
                <hr class="w-25" color="white">
                <i class="fa fa-star text-white" style="font-size: 2rem" aria-hidden="true"></i>
                <hr class="w-25" color="white">
            </div>
        </div>
    </div>
</div>


<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-between mb-3">
        <div class="title">
            <h5>Post Title</h5>
        </div>
        <div class="Actions">
            <h5>Actions</h5>
        </div>
    </div>
    {% for post in posts %}
    <div class="d-flex justify-content-between mt-2 border-bottom p-2">
        
        <div class="title">
            <p>{{ post.title }}</p>
        </div>
        <div class="Actions">
            <a href="/edit_page/{{ post.slug }}" class="btn btn-warning text-white">Edit Post</a>
            <a href="/delete/{{ post.slug }}" class="btn btn-danger">Delete Post</a>
        </div>
    </div>
    {% endfor %}
</div>



{% endblock body %}