{% extends 'base.html' %}
{% block title %} Ease Learning | Blog {% endblock title %}
{% block active_blog %} active {% endblock active_blog %}
{% load humanize %}
{% block body %}

<style>
    .title{
        color: #FF0035;
    }
    .card-body a{
        text-decoration: none;
    }

    .title:hover{
        color: #c9173a;
    }

     #blog_header{
        background-image: url("../static/assets/img/blog-header.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

</style>

<div class="container-fluid mb-2 p-4" id="blog_header">
    <div class="row mt-3">
        <div class="col-md-12 text-center">
            <h1 class="text-center text-white">Blog</h1>
            <div class="d-flex justify-content-center mb-2">
                <hr class="w-25" color="white">
                <i class="fa fa-star text-white" style="font-size: 2rem" aria-hidden="true"></i>
                <hr class="w-25" color="white">
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
{% for post in posts %}

<div class="card mb-4">
  <div class="card-header">
    Post by {{ post.user }} ({{ post.date | naturaltime }})
  </div>
  <div class="card-body">
    <a href="blog/{{ post.slug }}" class="title"><h5 class="card-title">{{ post.title }}</h5></a>
    <h6> {{ post.subtitle }} </h6>
    <p class="card-text">{{  post.description|slice:"0:100"|safe }}</p>
    <a href="blog/{{ post.slug }}" class="btn btn-danger">Know More</a>
  </div>
</div>

{% endfor %}
</div>


{% endblock body %}