{% extends 'base.html' %}
{% block title %} Ease Learning | Edit Post {% endblock title %}


{% block body %}

<div class="container mt-4 mb-4">
    <div class="col-md-12">
        <h1 class="text-center">Welcome {{ request.user }}</h1>
        <h4 class="text-center text-muted">Edit Your Post Here</h4>
        <hr class="w-75 mb-5">
    </div>
    <form action="/edit_post" method="GET">
        <div class="form-group row">
          <label for="title" class="col-sm-2 col-form-label">Title</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="title" name="title" placeholder="Title" value="{{ post.title }}" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="subutitle" class="col-sm-2 col-form-label">Subtitle</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="subutitle" name="subutitle" value="{{ post.subtitle }}" placeholder="SubTitle" required>
          </div>
        </div>
        <div class="form-group row">
            <label for="desc" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
              <textarea type="text" class="form-control" id="desc" name="desc" placeholder="Description"  required style="height: 40vh;">{{ post.description }}</textarea>
            </div>
          </div>

          <div class="form-group row">
            <label for="slug" class="col-sm-2 col-form-label">Slug</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="slug" name="slug" placeholder="Slug" value="{{ post.slug }}" pattern="[a-z0-9-]+$" required>
                <label for="slug" class="text-muted">This should be in a proper slug format.</label>
            </div>
          </div>

          <input type="hidden" value="{{ request.user }}" name="user" id="user">
          <input type="hidden" value="{{ post.id }}" name="id" id="id">

          <button type="submit" class="btn btn-danger">Edit Post</button>
      </form>
</div>


<script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
      toolbar_mode: 'floating',
    });
</script>
{% endblock body %}