{% extends 'base.html' %}
{% block title %} Ease Learning | Add New Post {% endblock title %}

{% block body %}

<div class="container mt-4 mb-4">
    <div class="col-md-12">
        <h1 class="text-center">Welcome {{ request.user }}</h1>
        <hr class="w-75 mb-5">
    </div>


    <div class="row">
        <div class="col-md-12">
            <form method="get" action="{% url 'Add New Post' %}" id="new_post_form">
                <label for="title" class="label">Title</label>
                <input class="form-control" type="text" name="title" id="title" placeholder="Title of Post" required>

                <label for="subtitle" >Subtitle</label>
                <input class="form-control" type="text" name="subtitle" id="subtitle" placeholder="Subtitle of Post" required>

                <label for="desc">Description</label>
                <textarea name="desc" id="desc" rows="10" class="form-control" placeholder="Description of Post" required></textarea>

                <label for="slug">Slug</label>
                <input name="slug" id="slug" type="text" placeholder="Slug of Post" class="form-control" required>
                <p class="text-muted">Should be a proper slug format</p>

                <input type="hidden" value="{{ request.user }}">

                <p>For better text formatting options. Add this post temporarily. Then go to &rarr; Admin Panel &rarr; Edit</p>

                <button class="btn btn-danger mt-3" id="submit_button">Add Post</button>
            </form>
        </div>
    </div>


</div>


<script>
    tinymce.init({
      selector: '#desc',
      plugins: [
      'advlist autolink lists link image charmap print preview hr anchor pagebreak',
      'searchreplace wordcount visualblocks visualchars code fullscreen',
      'insertdatetime media nonbreaking save table contextmenu directionality',
      'emoticons template paste textcolor colorpicker textpattern imagetools'
    ],
      toolbar_mode: 'floating',
    });

    document.getElementById('submit_button').onclick = function(){
        document.getElementById('new_post_form').submit();
    };
</script>
{% endblock body %}