:root {
    --primary-color: #FF0035;
    --secondary-color: #D6EFFF;
    --text-color : rgb(24, 20, 20);
    --bg-color : #FFF;
}

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bree+Serif&family=Fredoka+One&family=Merriweather:wght@700&family=Parisienne&display=swap');


*{
    list-style: none;
    text-decoration: none;
    font-family: 'Archivo Black', sans-serif;
}

nav{
    position: fixed;
}

.nav-item{
    font-size: 20px;
    font-weight: 500;
}

.nav-item a{
    padding: 15px;
    color: var(--text-color);
}

.nav-item a:hover{
    color: var(--primary-color);
    transition: 0.2s all;
}

.active a{
    color: var(--primary-color);
}

#logo{
    font-size: 30px;
    font-weight: 800;
    color: black;
}

.navbar{
    background-color: var(--bg-color);
}

.fa-facebook{
    font-size: 30px;
    color: white;
}

.fa-instagram{
    font-size: 30px; 
    color: white;
}

.fa-linkedin{
    font-size: 30px; 
    color: white;
}


.footer-copyright p{
    margin-bottom: 0;
}


.light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
}

footer{
    background: #000000;
}


